@model ProductImage

<div class="col-md-3 mb-3">
    <div class="card">
        <img src="@ImageSettings.GetImageUrl(ImageSettings.ProudctsImagesFolder,Model.ImageUrl)" class="card-img-top" style="width :500px; height:500px;" alt="Product Image" />
    </div>


</div>

