﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var image = user?.Image ?? "default.png";

        <div class="navbar-nav ml-auto py-0">
            <a class="nav-item nav-link " asp-area="Auth" asp-action="EditProfile" asp-controller="User" asp-route-id="@user.Id" title="Manage">
                <img src="@ImageSettings.GetImageUrl(ImageSettings.UsersImagesFolder,image)" class="rounded-circle me-2"
                     width="32"
                     height="32" alt="Alternate Text" />
            </a>
            <a class="nav-item nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            <form class="d-inline" asp-area="Auth" asp-action="Logout" asp-controller="Account" >
                <button type="submit" class="btn btn-toolbar nav-item nav-link">Logout</button>
            </form>
        </div>
    }
    else
    {
        <div class="navbar-nav ml-auto py-0">
            <a class="nav-item nav-link" asp-area="Auth" asp-action="Login" asp-controller="Account">Login</a>
            <a class="nav-item nav-link" asp-area="Auth" asp-action="Register" asp-controller="Account">Register</a>
        </div>
    }
