@using MultiVendorECommerce.Areas.Customer.ViewModels
<!DOCTYPE html>
<html lang="en">
@*     @model CategoriesHeaderVM
 *@
 <head>
    <meta charset="utf-8">
    <title>EShopper - Bootstrap Shop Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" >
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/customer-assets/lib/fontawesome/css/all.min.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="~/customer-assets/lib/owlcarousel/assets/owl.carousel.css" rel="stylesheet" />
    <link href="~/customer-assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customer Area Styles -->
    <link href="~/customer-assets/css/base/customer-bootstrap.css" rel="stylesheet" />
    <link href="~/customer-assets/css/layout/customer-layout.css" rel="stylesheet" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <header> 
        <partial name="_TopbarPartial" />
          @await Component.InvokeAsync("Header")
@*   <partial name="_NavbarPartial" model="Model" />
 *@            
    </header>
        <main role="main" class="carousel slide">
            @RenderBody()
            <partial name="_ErrorMessage" />

        </main>
    
    <footer>
        <partial name="_FooterPartial" />
    </footer>
        <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="~/customer-assets/lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/customer-assets/lib/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/customer-assets/lib/easing/easing.min.js"></script>
    <script src="~/customer-assets/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Contact Javascript File -->
    <script src="~/customer-assets/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/customer-assets/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/customer-assets/js/main.js"></script>
    <script src="~/customer-assets/js/addtocart.js"></script>
    @if (TempData["Error"] != null)
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '@TempData["Error"]'
            });
        </script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
