@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

<div class="navbar-nav ml-auto py-0">

    @if (!signInManager.IsSignedIn(User))
    {
        <a asp-action="Login" asp-controller="Account" asp-area="Auth" class="nav-item nav-link">Login</a>
        <a asp-area="Auth" asp-action="Register" asp-controller="Account" class="nav-item nav-link">Register</a>
    }else
    {
        <a asp-action="Logout" asp-controller="Account" asp-area="Auth" class="nav-item nav-link">Logout</a>
    }
</div>
