@using PermissionBasedAuz.ViewModels
@model VendorRegisterVM



   <div class="form-group">
    <label asp-for="StoreName"></label>
    <input asp-for="StoreName" class="form-control" />
    <span asp-validation-for="StoreName"></span>
</div>

<div class="form-group">
    <label asp-for="StoreDescription"></label>
    <textarea asp-for="StoreDescription" class="form-control"></textarea>
    </div>
    
