@model CategoryWithAttributeVM
@{
    ViewData["Title"] = "Create Category";
}

<h1>Create Category</h1>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <!-- Name -->
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <!-- Description -->
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <!-- Parent Category -->
    <div class="form-group">
        <label asp-for="ParentCategoryId" class="control-label"></label>
        <select asp-for="ParentCategoryId" asp-items="Model.ParentCategories" class="form-control">
            <option value="">-- No Parent --</option>
        </select>
    </div>

    <!-- Image -->
    <div class="form-group">
        <label asp-for="NewImage" class="control-label"></label>
        <input asp-for="NewImage" type="file" class="form-control" />
    </div>

    <!-- Attributes -->
    <h3>Attributes</h3>
    <div id="attributes-container" data-start-index="@Model.Attributes.Count">


        <partial name="_AddCategoryAttributesPartial" model="Model.Attributes" />
        
    </div>
    <button type="button" id="add-attribute-btn" class="btn btn-secondary mt-2">+ Add Attribute</button>

    <!-- Submit -->
    <div class="form-group mt-3">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/admin/addeditcategory.js"></script>
        @* <script>
        let attrIndex = @Model.Attributes.Count;

        $("#add-attribute-btn").click(function () {
            let html = `
            <div class="attribute-item mb-2 border p-2">

                <div class="form-group">
                    <label>Name</label>
                    <input name="Attributes[${attrIndex}].Name" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Type</label>
                    <select name="Attributes[${attrIndex}].Type" class="form-control">
                        <option value="Text">Text</option>
                        <option value="Number">Number</option>
                        <option value="Boolean">Boolean</option>
                        <option value="FixedSelect">FixedSelect</option>
                        <option value="CustomSelect">CustomSelect</option>
                    </select>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox"
                           name="Attributes[${attrIndex}].IsRequired"
                           value="true"
                           class="form-check-input" />
                    <label class="form-check-label">Required</label>
                </div>

                <div class="form-group options-container" style="display:none;">
                    <label>Options</label>
                    <input name="Attributes[${attrIndex}].Options" class="form-control" />
                </div>

                <button type="button"
                        class="btn btn-danger remove-attribute"
                        data-edit="false">
                    Remove
                </button>
            </div>`;

            $("#attributes-container").append(html);
            attrIndex++;
        });

        $(document).on("change", "select[name*='.Type']", function() {
            let container = $(this).closest(".attribute-item").find(".options-container");
            if ($(this).val() == "Select") container.show();
            else container.hide();
        });

        $(document).on("click", ".remove-attribute", function() {
            $(this).closest(".attribute-item").remove();
        });
    </script>  *@
}
